/* PC */
@media (min-width: 992px) {
  .mobile-header {
    display: none;
  }
}

/* Tablet & Mobile */
@media (max-width: 991.98px) {
  .header-top .navbar {
    display: none;
  }
  .header-top {
    position: relative;
  }
  .header__logo {
    position: absolute;
    left: 50%;
    translate: -50% -50%;
  }
  .header__menu--icon {
    position: absolute;
    color: #fff;
    top: 30px;
    left: 30px;
    cursor: pointer;
  }
  .menu-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
  }
  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }
  .menu-drawer {
    position: fixed;
    background-color: #2e1919;
    z-index: 2;
    inset: 0 40% 0 0;
    transform: translateX(-100%);
    transition: 0.3s;
    padding: 50px;
  }
  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }
  .menu-drawer--close {
    width: 24px;
    color: #fff;
    cursor: pointer;
  }
  .menu-drawer__top {
    display: flex;
    justify-content: space-between;
  }
  .menu-drawer--navbar {
    margin-top: 25px;
  }
  .navbar__link {
    padding: 8px 21px;
    color: #c9d2da;
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.75;
    display: block;
  }
  .menu-checkbox:checked ~ .menu-drawer--close {
    transform: translateX(0);
  }
  .navbar__link:hover {
    background-color: #00ffff37;
  }
  .hero {
    flex-direction: column;
    row-gap: 50px;
  }
  .hero__images {
    order: 1;
  }
  .hero__content {
    order: 2;
    text-align: center;
    width: 80%;
  }
  .hero__row {
    justify-content: center;
    padding-bottom: 30px;
  }
  .service__row {
    flex-direction: column;
    row-gap: 50px;
  }
  .service__img {
    width: 100%;
  }
  .service__item {
    text-align: start;
    width: 100%;
  }
  .service__list {
    text-align: center;
  }
  .work__list {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .about-row {
    flex-direction: column;
    row-gap: 50px;
  }
  .about__img--small {
    display: none;
  }
  .about__images {
    width: 100%;
  }
  .about__img--big {
    width: 100%;
    border-radius: 15px;
    margin: 0 auto;
  }
  .about__content {
    width: 90%;
    text-align: center;
  }
  .team__list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }
  .team-item__img {
    margin: 0 auto;
  }
  .install__img {
    display: none;
  }
  .blog__inner {
    flex-direction: column;
    row-gap: 30px;
  }
  .blog__content {
    order: 2;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .blog__list {
    order: 1;
  }
  .blog__heading {
    width: 100%;
  }
  .footer__top {
    grid-template-columns: 0.5fr 0.5fr 1fr;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
  .footer-tablet-hidden {
    display: none;
  }
  .navbar-on-mobile {
    display: none;
  }
}

/* Mobile */
@media (max-width: 767.98px) {
  .header__action {
    display: none;
  }
  .header__menu--icon {
    top: 15px;
    left: 20px;
  }
  .separate {
    border-top: 1.5px solid #8a8b8b;
    margin-top: 20px;
  }
  .menu-drawer {
    padding: 30px;
    inset: 0 30% 0 0;
  }
  .navbar__item {
    margin-top: 10px;
    list-style-type: none;
  }
  .hero__img--small {
    display: none;
  }
  .hero__img--large {
    width: 100%;
    height: auto;
  }
  .hero__heading {
    font-size: 3rem;
  }
  .hero__row {
    flex-direction: column;
    row-gap: 30px;
  }
  .service {
    padding: 70px 0px;
  }
  .service__desc {
    width: 100%;
  }
  .service__img {
    height: auto;
  }
  .work__desc {
    width: 100%;
  }
  .about {
    padding: 50px 0;
    margin-top: 30px;
  }
  .team__list {
    grid-template-columns: 1fr;
  }
  .install {
    padding: 30px 0px;
  }
  .install__heading {
    font-size: 3rem;
  }
  .install__desc {
    font-size: 1.2rem;
    width: 55%;
  }
  .install__inner {
    padding: 10px;
  }
  .blog__list {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .blog__heading {
    font-size: 2rem;
  }
  .appointment__heading {
    font-size: 3rem;
  }
  .appointment__inner {
    padding: 20px;
  }
  .appointment__desc {
    width: 100%;
    font-size: 1.1rem;
  }
  .appointment__btn {
    font-size: 1.5rem;
  }
  .footer__top {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .footer__copyright {
    margin-top: 20px;
  }
}
