* {
  box-sizing: border-box;
}

:root {
  --header-bgc: #10375c;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}
/*====================================================== COMMON */
a {
  text-decoration: none;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  display: inline-block;
  min-width: 205px;
  line-height: 60px;
  background-color: #2e80ce;
  border-radius: 30px;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
}

.btn:hover {
  opacity: 0.9;
}

.section-heading {
  color: #10375c;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}

.section-desc {
  margin-top: 18px;
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
}

.control {
  display: flex;
  gap: 18px;
  align-items: center;
}

.control__btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #575f66;
  background: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.control__btn:hover {
  border-color: #2e80ce;
  background: #2e80ce;
  color: #fff;
}
/* ======================================================HEADER */
.header {
  background-color: var(--header-bgc);
  min-height: 100vh;
}
.header .header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.header .header-top .navbar__list {
  display: flex;
}

.header .header-top .header__action--login,
.header .header-top .navbar__link {
  padding: 8px 21px;
  color: #c9d2da;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75;
}

.header .navbar .navbar__link--active {
  text-shadow: 1px 0 0 currentColor;
  color: #fff;
}

.header .navbar .navbar__link--active::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  right: 8px;
  top: -2px;
}

.header__action--signup {
  min-width: 104px;
  line-height: 44px;
  font-size: 1.6rem;
  border-radius: 22px;
}

.header__action--login {
  margin-right: 7px;
}

/*=========================================================== HERO */

.hero {
  display: flex;
  align-items: center;
  margin-top: 76px;
}

.hero__content {
  width: 44%;
}

.hero__images {
  flex: 1;
}

.hero__heading {
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: -1.4px;
}

.hero__desc {
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
  margin-top: 22px;
}

.hero__row {
  display: flex;
  align-items: center;
  column-gap: 38px;
  margin-top: 38px;
}

.hero__row .phone {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
}

.hero__images {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hero__img {
  object-fit: cover;
  border-radius: 6px;
}

.hero__img--large {
  width: 330px;
  height: 540px;
  margin-right: -6px;
  z-index: 1;
}

.hero__img--small {
  width: 210px;
  height: 410px;
}

/*================================================================= SERVICE */
.service {
  padding: 170px 0px;
}

.service__heading,
.service__desc {
  text-align: center;
}

.service__desc {
  width: 468px;
  margin: 18px auto 0px;
}

.service__row {
  display: flex;
  margin-top: 70px;
  justify-content: space-between;
  align-items: center;
}

.service__img {
  width: 570px;
  height: 570px;
  border-radius: 12px;
  background: url(<path-to-image>) lightgray 0px -1.3px / 100% 149.93% no-repeat;
  object-fit: cover;
}

.service__item {
  display: flex;
  width: 470px;
  padding: 21px;
  border-radius: 10px;
  background: #fff;
}

.service__item:hover {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
  position: relative;
}

.service__item:hover .service__item--icon {
  background: #2e80ce;
  box-shadow: 0px 8px 16px 0px rgba(40, 155, 222, 0.15);
  color: #fff;
  transition: 0.3s;
}

.service__item--icon {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: #eff6fd;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 19px;
  transition: 0.3s;
}

.service__item--heading {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
}

.service__item--desc {
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
}

.service-btn {
  margin-top: 55px;
}

/* =============================================================================WORK */
.work {
  padding: 100px 0;
  background-color: #f6fbff;
}

.work__desc {
  width: 468px;
}

.work__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 70px;
  gap: 30px;
}

.work-item {
  border-radius: 4px;
  background: #fff;
  padding: 43px;
  border: 16px solid #eaf6ff;
}

.work-item:hover {
  border: 16px solid #2e80ce;
  transition: 0.3s;
  transform: translateY(-16px);
}

.work-item__heading {
  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38;
  margin-top: 18px;
}

.work-item__desc {
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75;
  margin-top: 28px;
}

.work-item__more {
  display: inline-block;
  color: #2e80ce;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
  margin-top: 18px;
}

/*==================================================================== ABOUT */

.about {
  padding: 85px 0 206px;
  margin-top: 85px;
}

.about-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about__images {
  width: 49%;
  position: relative;
}

.about__content {
  width: 40%;
}

.about__img--big {
  object-fit: cover;
  width: 512px;
  height: 370px;
  border-radius: 6px;
  background: url(<path-to-image>) lightgray -1.5px 0px / 108.398% 100% no-repeat;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
  display: flex;
}

.about__img--small {
  object-fit: cover;
  width: 332px;
  height: 370px;
  border-radius: 6px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
  position: absolute;
  top: 121px;
  left: 238px;
}

.about__btn {
  margin-top: 36px;
}

/*============================================================================== TEAM */
.team {
  padding: 85px 0;
}

.team__text {
  text-align: center;
  margin: 0 auto;
}

.team__btn {
  margin-top: 38px;
}

.team__list {
  margin-top: 70px;
  display: grid;
  column-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}

.team-item__img {
  height: 290px;
  max-width: 100%;
  object-fit: cover;
  display: block;
  transition: 0.3s;
}

.team-item__bg {
  border-radius: 6px;
  background: #eaf6ff;
  padding-top: 26px;
}

.team-item__name {
  color: #10375c;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
  margin-top: 12px;
}

.team-item__desc {
  color: #575f66;
  text-align: center;
  font-family: Sora;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.86;
}

.team-item:hover .team-item__img {
  transform: scale(1.1);
}

.team__control {
  justify-content: center;
  margin-top: 38px;
}

.control__btn--next {
  rotate: 180deg;
}

/*============================================================================== INSTALL */

.install {
  padding: 180px 0px 85px;
}

.install__inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
  border-radius: 4px;
  background: #2e80ce;
  height: 427px;
}

.install__img {
  bottom: 0px;
  position: absolute;
  width: 284px;
  height: 522px;
}

.install__heading {
  width: 489px;
  color: #fff;
}

.install__desc {
  width: 586px;
  color: #fff;
}

.install__row {
  display: flex;
  margin-top: 38px;
  column-gap: 28px;
}

/*============================================================================== BLOG */
.blog {
  padding: 85px 0;
}

.blog__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog__content {
  max-width: 40%;
}

.blog__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
}

.blog__heading {
  width: 470px;
}

.blog__more {
  display: inline-block;
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.56;
  margin: 28px 0;
  text-decoration-line: underline;
  text-underline-offset: 4px;
}

.blog-item {
  width: 270px;
  border-radius: 12px;
  border: 1px solid #e8ebee;
  background: #fff;
  transition: 0.3s;
}

.blog-item:hover {
  border-radius: 12px;
  border-color: transparent;
}

.blog-item:hover .blog-item__more {
  color: #2e80ce;
}

.blog-item:hover .blog-item__img {
  transform: scale(1.1);
}

.blog-item__wrap {
  width: 270px;
  height: 172px;
  overflow: hidden;
}

.blog-item__img {
  width: 270px;
  height: 172px;
  border-radius: 12px 12px 0px 0px;
  transition: 0.3s;
}

.blog-item__content {
  padding: 18px 22px;
}

.blog-item__heading {
  width: 224px;
  color: #10375c;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.62;
}

.blog-item-desc {
  margin-top: 10px;
  width: 226px;
  color: #575f66;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.71;
}

.blog-item__more {
  color: #10375c;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: normal;
  margin-top: 12px;
  display: inline-block;
}

/*============================================================================= APPOINTMENT */
.appointment {
  margin-top: 85px;
}

.appointment__inner {
  text-align: center;
  padding: 100px 179px;
  background-color: #f6fbff;
}

.appointment__heading::after {
  content: "";
  display: block;
  width: 136px;
  height: 2px;
  background: #2e80ce;
  margin: 18px auto 18px;
}

.appointment__desc {
  width: 617px;
  margin: 0 auto;
  font-size: 1.6rem;
  line-height: 1.75;
}

.appointment__btn {
  margin-top: 38px;
}
